body{
    background-image: url("../images/WhatsApp Image 2025-05-17 at 3.47.56 PM.JPEG");
    background-size: cover;
    background-position-y: center;
    font-weight: bold;
    text-align: center;
    
}

.content{
    margin-top: 300px;

}

h1{
    align-items: center;
    margin-bottom: 10px;
    color: white;
}

h2{
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 20px;
    color: white;
}


button{
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-weight: bold;
    width: 200px;
    margin-bottom: 5px;
    border-radius: 5px;
    color: white;
    font-size: 20px;
    cursor: pointer;
}

#increment-btn{
    background-color: darkred;
}

#save-btn{
    background-color: green;
}



#increment-btn:hover{
    background-color: rgb(213, 88, 88);
    color: black;
}

#save-btn:hover{
    background-color: rgb(79, 157, 84);
    color: black;
}

.btn-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

p{
    color: white;
    font-size: 20px;
}